@import 'media-mixins.scss';

.icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;

  border: none;
  background-color: transparent;
  background-size: contain;
  background-image: url('../../../../static/svg/settings.svg');
  background-repeat: no-repeat;

  &:hover, &:focus {
    animation: rotation 3s infinite linear;
  }

  @include media-small {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}