{
  "presets": ["es2015", "env"],
  "plugins": [
    ["transform-react-jsx"],
    ["syntax-dynamic-import"],
    ["transform-class-properties"],
    ["import-inspector", {
      "serverSideRequirePath": true,
      "webpackRequireWeakId": true
    }]
  ]
}