.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;

  z-index: -1;
}

.tomatTopWrap {
  width: 100%;
  position: relative;
  will-change: transform;
  animation: tomatAnimation 12s linear infinite;
  position: absolute;
  top: 80px;
}

.tomatMiddleWrap {
  width: 100%;
  position: relative;
  will-change: transform;
  animation: tomatAnimation 14s linear infinite;
  position: absolute;
  top: 40%;
}

.tomatBottomWrap {
  width: 100%;
  position: relative;
  will-change: transform;
  animation: tomatAnimation 18s linear infinite;
  position: absolute;
  bottom: 30%;
  filter: blur(5px);
}

.tomatImg {
  position: absolute;
  pointer-events: none;
  object-fit: contain;
}

.tomatImgSmall {
  width: 120px;
  height: 130px;
}

.tomatImgMedium {
  width: 160px;
  height: 160px;
}

.tomatImgBig {
  width: 250px;
  height: 250px;
}

@keyframes tomatAnimation {
  from {
    transform: translate(120%);
  }
  to {
    transform: translate(-20%);
  }
}