@import 'media-mixins.scss';

.container {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
  left: 50%;
  font-family: 'Roboto';
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-areas:
  "control timer reset";
  justify-content: center;
  align-items: center;

  & > div {
    margin: 20px;
  }

  @include media-portrait {
    grid-template-areas:
    "timer timer"
    "control reset";
  }
}

.timer {
  display: grid;
  grid-area: timer;
  justify-content: center;
  align-content: center;
  grid-template-areas: 
  "minutes colon seconds"
  "minutesLabel . secondsLabel";
} 

.minutes {
  grid-area: minutes;
}

.colon {
  grid-area: colon;
}

.seconds {
  grid-area: seconds;
}

.minutesLabel {
  grid-area: minutesLabel;
}

.secondsLabel {
  grid-area: secondsLabel;
}

.digit {
  font-size: 100px;
  font-weight: 100;
}

.label {
  font-size: 24px;
}

.controlButton {
  display: inline-flex;
  grid-area: control;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.resetButton {
  grid-area: reset;
  cursor: pointer;
}

.triangle {
  width: 50px;
  height: 50px;

  &:before {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.square {
  width: 50px;
  height: 50px;

  &:before {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
  }

}

.pause {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: space-around;

  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 100%;
    background-color: #fff;
  }

  &:after {
    content: '';
    display: block;
    width: 15px;
    height: 100%;
    background-color: #fff;
  }

  
}

.resetIcon {
  width: 50px;
  height: 50px;
  fill: #fff;
}