@import 'media-mixins.scss';

.container {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
  left: 50%;
  font-family: 'Roboto';
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-areas:
  "control timer reset";
  justify-content: center;
  align-items: center;

  & > div {
    margin: 20px;
  }

  @include media-portrait {
    grid-template-areas:
    "timer timer"
    "control reset";
  }
}

.timer {
  display: grid;
  grid-area: timer;
  justify-content: center;
  align-content: center;
  grid-template-areas: 
  "hours colon1 minutes colon2 seconds"
  "hoursLabel . minutesLabel . secondsLabel";
}


.hours {
  grid-area: hours;
}

.hoursLabel {
  grid-area: hoursLabel;
}

.minutes {
  grid-area: minutes;
}

.colon1 {
  grid-area: colon1;
}

.colon2 {
  grid-area: colon2;
}

.seconds {
  grid-area: seconds;
}

.minutesLabel {
  grid-area: minutesLabel;
}

.secondsLabel {
  grid-area: secondsLabel;
}

.digit {
  font-size: 100px;
  font-weight: 100;
}

.label {
  font-size: 24px;
}

.controlButton {
  display: inline-flex;
  grid-area: control;
  width: 50px;
  height: 50px;
  cursor: pointer;

  @include media-portrait {
    justify-self: center;
  }
}

.resetButton {
  display: inline-flex;
  grid-area: reset;
  cursor: pointer;

  @include media-portrait {
    justify-self: center;
  }
}

.controlsIcon {
  width: 50px;
  height: 50px;
  fill: #fff;
}

.hidden {
  display: none;
}

.phaseLabel {
  color: #fff;
}
