@font-face {
  font-family: 'Bangers';
  src: url('../static/fonts/Bangers/Bangers.woff2') format('woff2'),
      url('../static/fonts/Bangers/Bangers.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/Roboto/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
      url('../static/fonts/Roboto/Roboto-Regular/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:global {
  body {
    font-family: 'Roboto';
    background-image: radial-gradient(circle at 51% 45%, #e5350e, #cd0000);
  }
}
  