@import 'media-mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 30px;
  max-width: 220px;

  @include media-small  {
    display: none;
  }
}

.headerBlock {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.text {
  font-size: 14px;
  color: #ff6f6f;
  text-align: right;
}