@import 'media-mixins.scss';

.wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  overflow: hidden;

  @include media-small {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.popupContent {
  position: relative;
  min-width: 380px;
  background-color: #fff;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  animation: showModal 0.6s ease-out;
  overflow-y: auto;

  @include media-small {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}

.popupContentInner {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;

  @include media-small {
    padding: 60px 30px;
  }
}


.closeButton {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-image: url('src/static/svg/error-black.svg');

  &:hover {
    animation: rotation 3s infinite linear;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    zoom: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}