@import 'media-mixins.scss';

.container {
  width: 500px;
  height: auto;

  @include media-small {
    width: auto;
  }
}

.row {
  display: block;

  & + & {
    margin-top: 10px;
  }

  @include media-small {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;

  @include media-small {
    margin-bottom: 20px;
  }
}

.info {
    display: flex;
    padding-right: 30px;
}