@import 'media-mixins.scss';

.container {
  width: 600px;

  @include media-small {
    width: 100%;
  }
}

.title {
  text-align: center;
  margin-top: 0;
}

.ringtoneContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include media-small {
    flex-direction: column;
  }
}

.marginBottom20 {
  margin-bottom: 20px;
}

.customTimeContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.customTimeCell {
  &:first-child {
    margin-right: 20px;
  }
}

.customTimeCellInput {
  padding: 5px;
  border: 2px solid #a51d19;
}