@import 'media-mixins.scss';

.logo {
  position: absolute;
  top: 24px;
  left: 40px;
  display: inline-block;
  font-size: 44px;
  font-family: 'Bangers';
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;

  @include media-small {
    font-size: 30px;
  }
}