@import 'media-mixins.scss';

.container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  @include media-small {
    display: none;
  }
}

.button {
  padding: 4px 8px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  & + & {
    margin-left: 10px;
  }
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}